body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    max-width: 1200px;
    margin: 20px auto;
}

nav {
    text-align: center;
    a {
        margin-right: 15px;
        text-decoration: none;
        color: #333;

        &:hover {
            text-decoration: underline;
            color: #007bff;
        }
    }
}

h1 {
    color: #333;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .form-inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
            font-weight: bold;
            color: #555;
        }

        input, select {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }
    }
}